<h3>Add a new category:</h3>
<form action="/venue" method="post">
  <label for="new-venue">Item description:</label>
  <input id="new-venue" name="venue" type="text">
  <button type="submit">Submit</button>
</form>
