<h1> Choose what to do </h1>

<a href="/band/new">create new band</a>
<br>
<a href="/venue/new">create new venue</a>
<br>
<a href="/bands">view bands</a>
<br>
<a href="/venues/">view venues</a>
<br>
<a href="/venue/search">search bands playing in venue</a>
<br>
<a href="/band/search">search bands played venue</a>
<br>
<a href="/update">update</a>
<br>
<a href="/add">add venue to band</a>

